:root {
    --color-primary: #0086FF;
    --color-primary-light: #AADFFF;
    --color-secondary: #9892EA;
    --spacer: 1rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 14px;
  }
  

  section {
    padding: calc(var(--spacer) * 2);
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    border: 1px dashed red;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row-center {
    justify-content: center;
  }
  
  .row>* {
    border: 1px dashed blue;
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0.5rem;
  }
  
  .row-center>* {
    flex-grow: 0;
  }
  
  .col-1_2 {
    flex-basis: 50%;
  }
  
  .col-1_3 {
    flex-basis: calc(100% / 3);
  }
  
  .col-2_3 {
    flex-basis: calc(100% / 3 * 2);
  }
  
  
  .col-1_4 {
    flex-basis: 25%;
  }
  
  .col-2_4 {
    flex-basis: 50%;
  }
  
  .col-3_4 {
    flex-basis: calc((100% / 4) * 3);
  }
  
  
  .card {
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
    /* min-height: 200px; */
  }
  
  .card-primary {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    text-align: left;
  }
  
  .card-secondary {
    background-color: var(--color-secondary);
    color: white;
  }
  
  .card-white-secondary {
    background-color: white;
    color: var(--color-secondary);
  }
  
  #demo_img {
    display: block;
    width: 70%;
    margin: 0 auto;
    position: relative;
    bottom: -1.5rem;
  }
  
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  
  .px-4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .fa {
    height: 60%;
  }